*.pdf
*.png
*.exe
*.htm

/semaine dep web décembre 2020
/*/*_fichiers
**/.idea
**/.parcel-cache
**/parcel-bundle-reports
**/.vscode
**/example-test-fibonacci
**/imagej-troubleshooting
**/jakartaee-examples
**/javafx-examples
**/node_modules
**/PersistLab
**/projet21
**/rabbitmq-baeldung
**/rabbitmq-tutorials
**/target